body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    height: 300px;
    
}
.right{
    text-align:center;
}

.p1
{
    color:blue;
    font:30px;
    background-color:lightblue;
border:10px solid red ;
}
.h2{
    color:red;
    font-variant:small-caps;
    font-weight:bold;
}